<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center" style="text-align: center">404 Not Found
      <div class="container" style="display: flex; justify-content: center; align-content: center;">
        <img src="https://78.media.tumblr.com/83cb2ca0f63add5060b1f6cd6872a770/tumblr_p39xygj2FN1sa11jco1_500.gif" alt="Even our Broken Image didn't load... Believe us though, it is a funny image.">
      </div>
    </h1>
      <a href="/">← Back To Home</a>
  </div>
</div>
