<div class="top-span">
    <p class="shipping-ad uk-text-small">KEP SKI SNOWBOARD</p>
</div>

<div class="uk-position-relative">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent navMerch" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200"
            uk-navbar>
            <div class="uk-navbar-left uk-dark navbar">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Men's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/mens/jackets" id="mensJackets">Jackets</a></li>
                                        <li><a href="/mens/fleece" id="mensFleece">Fleece</a></li>
                                        <li><a href="/mens/vests" id="mensVests">Vests</a></li>
                                        <li><a href="/mens/pants" id="mensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Women's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/womens/jackets" id="womensJackets">Jackets</a></li>
                                        <li><a href="/womens/fleece" id="womensFleece">Fleece</a></li>
                                        <li><a href="/womens/vests" id="womensVests">Vests</a></li>
                                        <li><a href="/womens/pants" id="womensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Men's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Women's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Ski</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/ski/skis" id="skis">Skis</a></li>
                                <li><a href="/ski/bindings" id="skiBindings">Bindings</a></li>
                                <li><a href="/ski/boots" id="skiBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/equipment/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Snowboard</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/snowboard/boards" id="snowboards">Boards</a></li>
                                <li><a href="/snowboard/bindings" id="snowBindings">Bindings</a></li>
                                <li><a href="/snowboard/boots" id="snowBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/equipment/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right navbarRight">
                <div>
                    <a class="uk-navbar-toggle uk-dark" uk-search-icon href="#"></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: right-center; offset: 0">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <span uk-search-icon></span>
                            <input class="uk-search-input uk-light" type="search" placeholder="Search our merch..." autofocus>
                        </form>
                    </div>
                </div>
                <div class="uk-offcanvas-content">

                    <button class="uk-icon-button" id="dislay-cart-button" uk-icon="icon: cart;" class="uk-button" type="button" uk-toggle="target: #offcanvas-overlay"></button>



                    <div id="offcanvas-overlay" uk-offcanvas="flip: true">
                        <div class="uk-offcanvas-bar">

                            <button class="uk-offcanvas-close" type="button" uk-close></button>

                            <div id="cart">
                                <h3>Your Cart is Empty!</h3>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</div>

<div class="confirm-container">
    <div class="uk-grid">
        <div class="uk-width-3-4">
            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                    <input class="uk-input" type="text" placeholder="Full Name">
                </div>
                <br>
                <hr class="uk-divider-icon">
                <br>
                <h1>Shipping Address</h1>
                <div class="uk-width-1-1">
                    <input class="uk-input" type="text" placeholder="Street Address">
                </div>
                <div class="uk-width-1-2@s">
                    <input class="uk-input" type="text" placeholder="City">
                </div>
                <div class="uk-width-1-4@s">
                    <input class="uk-input" type="text" placeholder="State">
                </div>
                <div class="uk-width-1-4@s">
                    <input class="uk-input" type="text" placeholder="Zip Code">
                </div>
                <br>
                <hr class="uk-divider-icon">
                <br>
                <h1>Card Information</h1>
                <div class="uk-width-1-1">
                    <input class="uk-input" type="text" placeholder="Name, as it appears on card">
                </div>
                <div class="uk-width-1-2@s">
                    <input class="uk-input" type="text" placeholder="Card Number">
                </div>
                <div class="uk-width-1-4@s">
                    <input class="uk-input" type="text" placeholder="Security Code">
                </div>
                <div class="uk-width-1-4@s">
                    <input class="uk-input" type="text" placeholder="Billing Zip">
                </div>
            </form>
        </div>
        <div class="uk-width-1-4">
            <div class="cart-confirm-container">
                <div class="cart-items">
                    {{#each merch}}
                        {{>confirmCart/confirmCart}}
                    {{/each}}
                </div>
                <a href="#" id="place-order">
                    <span class="uk-margin-small-right uk-icon" uk-icon="icon: credit-card">
                    </span>
                    <button class="uk-button uk-button-default demo" type="button" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Your Order has been confirmed'})"></button>
                    Place Order
                    </button>
                </a>
                <a href="#" id="emptyCart">
                    <span class="uk-margin-small-right uk-icon" uk-icon="icon: trash">
                    </span>
                    Empty Cart
                </a>
            </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/cart.js"></script>