<div class="top-span">
    <p class="shipping-ad uk-text-small">KEP SKI SNOWBOARD</p>
</div>

<div class="uk-position-relative">
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="center: true; autoplay: true; autoplay-interval: 5000">

        <ul class="uk-slider-items uk-child-width-1-4@m uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 0">
            <li class="uk-width-1-1">
                <div class="uk-cover-container">
                    <img src="http://sendmesomewhere.com/wp-content/uploads/2018/05/alps-snow-board-extreme-sport-the-finest-transportation-to-your-skiing-holiday.jpg"
                        alt="skiing" uk-cover>
                    <div class="uk-position-center uk-panel"></div>
                </div>
            </li>
            <li class="uk-width-1-1">
                <div class="uk-cover-container">
                    <img src="http://blog.interdiscount.ch/wp-content/uploads/2017/12/snowboarding.jpg" alt="snowboarding" uk-cover>
                    <div class="uk-position-center uk-panel"></div>
                </div>
            </li>
            <li class="uk-width-1-1">
                <div class="uk-cover-container">
                    <img src="http://www.schischule-filzmoos.at/uploads/tx_flexslider/erwachsene2.jpg" alt="skiing" uk-cover>
                    <div class="uk-position-center uk-panel"></div>
                </div>
            </li>
            <li class="uk-width-1-1">
                <div class="uk-cover-container">
                    <img src="http://pmo3aea99.pic30.websiteonline.cn/upload/banenr1_qjcr.jpg" alt="skiing" uk-cover>
                    <div class="uk-position-center uk-panel"></div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>


    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200"
            uk-navbar>
            <div class="uk-navbar-left uk-dark navbar">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Men's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/mens/jackets" id="mensJackets">Jackets</a></li>
                                        <li><a href="/mens/fleece" id="mensFleece">Fleece</a></li>
                                        <li><a href="/mens/vests" id="mensVests">Vests</a></li>
                                        <li><a href="/mens/pants" id="mensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Women's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/womens/jackets" id="womensJackets">Jackets</a></li>
                                        <li><a href="/womens/fleece" id="womensFleece">Fleece</a></li>
                                        <li><a href="/womens/vests" id="womensVests">Vests</a></li>
                                        <li><a href="/womens/pants" id="womensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Men's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Women's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Ski</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/ski/skis" id="skis">Skis</a></li>
                                <li><a href="/ski/bindings" id="skiBindings">Bindings</a></li>
                                <li><a href="/ski/boots" id="skiBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/equipment/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Snowboard</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/snowboard/boards" id="snowboards">Boards</a></li>
                                <li><a href="/snowboard/bindings" id="snowBindings">Bindings</a></li>
                                <li><a href="/snowboard/boots" id="snowBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/equipment/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right navbarRight">
                <div>
                    <a class="uk-navbar-toggle uk-dark" uk-search-icon href="#"></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: right-center; offset: 0">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <span uk-search-icon></span>
                            <input class="uk-search-input uk-light" type="search" placeholder="Search our merch..." autofocus>
                        </form>
                    </div>
                </div>
                <div class="uk-offcanvas-content">

                    <button class="uk-icon-button" uk-icon="icon: cart;" class="uk-button" type="button" uk-toggle="target: #offcanvas-overlay"></button>

                    <div id="offcanvas-overlay" uk-offcanvas="flip: true">
                        <div class="uk-offcanvas-bar">

                            <button class="uk-offcanvas-close" type="button" uk-close></button>

                            <div id="cart">
                                <h3>Your Cart is Empty!</h3>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</div>

<div class="latest-styles">

    <div class="uk-child-width-1-3@s uk-text-center uk-flex uk-flex-center" uk-grid>

        <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" data-attribute="{{mens.id}}"
            style="background-image: url('http://cdn.shopify.com/s/files/1/2030/8605/products/3_a86c766a-dea1-4694-9c89-2b534d78c0a5_grande.jpg?v=1513097823');">
            <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">

                <h1><a href="/mens/jackets" id="mensJackets" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">MENS
                        JACKETS</a></h1>
                <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Check out our latest styles.</p>
            </div>
        </div>

        <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" data-attribute="{{womens.id}}"
            style="background-image: url('https://content.backcountry.com/promo_upload/bcs/2017/spyder/Backcountry_Social_Widget3.jpg');">
            <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
                <h1><a href="/womens/jackets" id="womensJackets" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">WOMEN'S
                        JACKETS</a></h1>
                <p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">Check out our latest styles.</p>
            </div>
        </div>

    </div>

</div>

<footer style="display: flex; justify-content: center">
    <p style="text-align:center;">First day of Winter!</p>
    <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2018-12-21T21:21:23+00:00">
        <div>
            <div class="uk-countdown-number uk-countdown-days"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-hours"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-minutes"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-seconds"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
        </div>
    </div>

    <p style="text-align:center;">Don't forget to check out the weather</p>

    <div class="weather-container" style="padding-left:20px;padding-right:20px;">

        <button id="mammoth-active" class="uk-button uk-button-primary uk-button-small">Mammoth, CA</button>
        <button id="bigBear" class="uk-button uk-button-primary uk-button-small">Big Bear, CA</button>
        <button id="tahoe" class="uk-button uk-button-primary uk-button-small">Tahoe, CA</button>
        <button id="breckenridge" class="uk-button uk-button-primary uk-button-small">Breckenridge, CO</button>
        <button id="aspen" class="uk-button uk-button-primary uk-button-small">Aspen, CO</button>

        <div class="uk-card uk-card-body" style="min-height:150px;">
            <h3 class="uk-card-title">5-Day Forecast</h3>
            <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div id="main-box" class="uk-card uk-card-default uk-card-body"></div>
                </div>
                <div>
                    <div id="day1-box" class="uk-card uk-card-default uk-card-body"></div>
                </div>
                <div>
                    <div id="day2-box" class="uk-card uk-card-default uk-card-body"></div>
                </div>
                <div>
                    <div id="day3-box" class="uk-card uk-card-default uk-card-body"></div>
                </div>
                <div>
                    <div id="day4-box" class="uk-card uk-card-default uk-card-body"></div>
                </div>
                <div>
                    <div id="day5-box" class="uk-card uk-card-default uk-card-body"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <script type="text/javascript" src="../js/cart.js"></script>