<div class="top-span">
    <p class="shipping-ad uk-text-small">>Free 2-day shipping on all orders $99+</p>
</div>

<div class="uk-position-relative">
    <img src="http://www.skisoutheast.com/wp-content/uploads/2015/01/2015-01-19-POD.jpg" alt="Ski Background">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left uk-light">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Men's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Fleece</a></li>
                                        <li><a href="#">Vests</a></li>
                                        <li><a href="#">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Hats</a></li>
                                        <li><a href="#">Scarves</a></li>
                                        <li><a href="#">Gloves</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Women's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Fleece</a></li>
                                        <li><a href="#">Vests</a></li>
                                        <li><a href="#">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Hats</a></li>
                                        <li><a href="#">Scarves</a></li>
                                        <li><a href="#">Gloves</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Men's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Hats</a></li>
                                        <li><a href="#">Scarves</a></li>
                                        <li><a href="#">Gloves</a></li>
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Women's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="#">Hats</a></li>
                                        <li><a href="#">Scarves</a></li>
                                        <li><a href="#">Gloves</a></li>  
                                        <li><a href="#">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Ski</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Skis</a></li>
                                <li><a href="#">Bindings</a></li>
                                <li><a href="#">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Snowboard</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Boards</a></li>
                                <li><a href="#">Bindings</a></li>
                                <li><a href="#">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <div>
                    <a class="uk-navbar-toggle uk-light" uk-search-icon href="#"></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: right; offset: 0">
                        <form class="uk-search uk-search-default">
                            <span uk-search-icon></span>
                            <input class="uk-search-input uk-light" type="search" placeholder="Search...">
                        </form>
                    </div>
                </div>
            </div>
        </nav>s
    </div>
</div>

<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="https://cdn.saintbernard.com/media/extendware/ewimageopt/media/inline/43/2/johnnie-o-boys-lamme-prep-formance-1-4-zip-jr-pullover-c2b.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Jacket</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>
     <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="https://cdn.saintbernard.com/media/extendware/ewimageopt/media/inline/85/4/bogner-womens-aime-2-d-jacket-c33.jpg" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Jacket</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>
</div>









{{!--
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>This is our Home Page!</h2>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="example-text">Example Text</label>
                        <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
                    </div>
                    <div class="form-group">
                        <label for="example-description">Example Description</label>
                        <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
                    </div>
                    <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>
                <h3>Examples:</h3>
                <ul id="example-list" class="list-group">
                    {{#each examples}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <a href="example/{{this.id}}">{{this.text}}</a>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div> --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>