<div class="top-span">
    <p class="shipping-ad uk-text-small">>Free 2-day shipping on all orders $99+</p>
</div>

<div class="uk-position-relative">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" style="background-color: rgb(103,131,179)" uk-navbar>
            <div class="uk-navbar-left uk-light">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Men's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/mens/jackets" id="mensJackets">Jackets</a></li>
                                        <li><a href="/mens/fleece" id="mensFleece">Fleece</a></li>
                                        <li><a href="/mens/vests" id="mensVests">Vests</a></li>
                                        <li><a href="/mens/pants" id="mensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Women's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/womens/jackets" id="womensJackets">Jackets</a></li>
                                        <li><a href="/womens/fleece" id="womensFleece">Fleece</a></li>
                                        <li><a href="/womens/vests" id="womensVests">Vests</a></li>
                                        <li><a href="/womens/pants" id="womensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Men's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Women's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Ski</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/ski/skis" id="skis">Skis</a></li>
                                <li><a href="/ski/bindings" id="skiBindings">Bindings</a></li>
                                <li><a href="/ski/boots" id="skiBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/safety/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Snowboard</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/snowboard/boards" id="snowboards">Boards</a></li>
                                <li><a href="/snowboard/bindings" id="snowBindings">Bindings</a></li>
                                <li><a href="/snowboard/boots" id="snowBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/safety/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <div>
                    <a class="uk-navbar-toggle uk-light" uk-search-icon href="#"></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: right; offset: 0">
                        <form class="uk-search uk-search-default">
                            <span uk-search-icon></span>
                            <input class="uk-search-input uk-light" type="search" placeholder="Search...">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="merch-container">
  {{#each merch}}
    {{> itemDisplay/itemDisplay}}
  {{/each}}
</div>

<footer style="display: flex; justify-content: center">
    <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2018-12-21T21:21:23+00:00">
                <div>
                    <div class="uk-countdown-number uk-countdown-days"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-hours"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-minutes"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                </div>
                <div class="uk-countdown-separator">:</div>
                <div>
                    <div class="uk-countdown-number uk-countdown-seconds"></div>
                    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                </div>
            </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../../js/merch.js"></script>