

<div class="uk-position-relative">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent navMerch" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200"
            uk-navbar>
            <div class="uk-navbar-left uk-dark navbar">
                 <a href="/"><img data-src="https://i.imgur.com/2TOeeIQ.png" width="140px" height="140px" alt="KEP" uk-img></a>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">Men's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/mens/jackets" id="mensJackets">Jackets</a></li>
                                        <li><a href="/mens/fleece" id="mensFleece">Fleece</a></li>
                                        <li><a href="/mens/vests" id="mensVests">Vests</a></li>
                                        <li><a href="/mens/pants" id="mensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Women's</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Apparel</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/womens/jackets" id="womensJackets">Jackets</a></li>
                                        <li><a href="/womens/fleece" id="womensFleece">Fleece</a></li>
                                        <li><a href="/womens/vests" id="womensVests">Vests</a></li>
                                        <li><a href="/womens/pants" id="womensPants">Pants</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Accessories</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    </li>
                    <li>
                        <a href="#">Accessories</a>
                        <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                            <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Men's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/mens/hats">Hats</a></li>
                                        <li><a href="/accessories/mens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/mens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/mens/socks">Socks</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-active"><a href="#">Women's</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="/accessories/womens/hats">Hats</a></li>
                                        <li><a href="/accessories/womens/scarves">Scarves</a></li>
                                        <li><a href="/accessories/womens/gloves">Gloves</a></li>
                                        <li><a href="/accessories/womens/socks">Socks</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">Ski</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/ski/skis" id="skis">Skis</a></li>
                                <li><a href="/ski/bindings" id="skiBindings">Bindings</a></li>
                                <li><a href="/ski/boots" id="skiBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/equipment/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Snowboard</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Equipment</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/snowboard/boards" id="snowboards">Boards</a></li>
                                <li><a href="/snowboard/bindings" id="snowBindings">Bindings</a></li>
                                <li><a href="/snowboard/boots" id="snowBoots">Boots</a></li>
                                <li class="uk-nav-header">Safety</li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/equipment/helmets" class="helmets">Helmets</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right navbarRight">
                <div>
                    <a class="uk-navbar-toggle uk-dark" uk-icon="icon: search; ratio: 1.2;" href="#"></a>
                    <div class="uk-drop" uk-drop="mode: click; pos: right-center; offset: 0">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <input class="uk-search-input uk-light" type="search" placeholder="Search our merch..." autofocus>
                        </form>
                    </div>
                </div>
                <div class="uk-offcanvas-content">

                    <button class="uk-icon-button" id="dislay-cart-button" uk-icon="icon: cart; ratio: 1.2;" class="uk-button" type="button" uk-toggle="target: #offcanvas-overlay"></button>



                    <div id="offcanvas-overlay" uk-offcanvas="flip: true">
                        <div class="uk-offcanvas-bar">

                            <button class="uk-offcanvas-close" type="button" uk-close></button>

                            <div id="cart">
                                <h3>Your Cart is Empty!</h3>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</div>

</div>
</div>
</nav>
</div>
</div>

<div class="merchDisplayContainer">
    
    <div class="merch-container uk-grid-match uk-child-width-1-3@s" uk-grid>
        {{#each merch}} {{> itemDisplay/itemDisplay}} {{/each}}
    </div>
</div>

<footer style="display: flex; justify-content: center">
    <div class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="date: 2018-12-21T21:21:23+00:00">
        <div>
            <div class="uk-countdown-number uk-countdown-days"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-hours"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-minutes"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-seconds"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
        </div>
    </div>
</footer>

<div>
    <div class="uk-countdown-number uk-countdown-days"></div>
    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
</div>
<div class="uk-countdown-separator">:</div>
<div>
    <div class="uk-countdown-number uk-countdown-hours"></div>
    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
</div>
<div class="uk-countdown-separator">:</div>
<div>
    <div class="uk-countdown-number uk-countdown-minutes"></div>
    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
</div>
<div class="uk-countdown-separator">:</div>
<div>
    <div class="uk-countdown-number uk-countdown-seconds"></div>
    <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../../js/merch.js"></script>
<script type="text/javascript" src="../../js/cart.js"></script>

</footer>