<div>
    <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <h3 class="uk-card-title">{{merch.name}}</h3>
        <p>{{merch.size}}</p>
        <p>{{merch.color}}</p>
        <p>Price......${{merch.itemPrice}}</p>
    </div>
</div>
<hr class="uk-divider-small">
