html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px !important;
}

.list-group-item {
  line-height: 2.5;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.primary-header {
  padding: 10px;
  font-size: 30px;
}

.navbar {
  padding-left: 20px;
  padding-top: 05px;
  padding-bottom: 05px;
}

.navbarRight {
  padding-right: 20px;
  padding-top: 05px;
  padding-bottom: 05px;
}

.navMerch {
  background-color: #afcbe3;
}

.merchDisplayContainer {
  padding: 180px 30px 30px 30px !important;
}

.merch-container {
  margin-left: 0px !important;
}

.latest-styles-mens {
  padding: 40px 80px 40px 50px;
}

.latest-styles-womens {
  padding: 10px 50px 40px 80px;
}

.mensJackets {
  color: #1b75bc;
}

.womensPic,
.mensPic,
.mensJackets,
.womensJackets {
  transition: transform .2s;
}

.womensPic:hover,
.mensPic:hover,
.mensJackets:hover,
.womensJackets:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.womensJackets {
  color: #1b75bc;
  transition: transform .2s;
}

[data-class="selected-color"], [data-class="selected-size"] {
  border: grey 2px solid;
}
