html {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px !important;
}

.list-group-item {
  line-height: 2.5;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.primary-header {
  padding: 10px;
  font-size: 30px;
}

.navbar {
  padding-left: 20px;
  padding-top: 05px;
  padding-bottom: 05px;
}

.navbarRight {
  padding-right: 20px;
  padding-top: 05px;
  padding-bottom: 05px;
}

.navMerch {
  background-color: #afcbe3;
}

.merchDisplayContainer {
  padding: 180px 30px 30px 30px !important;
}

.merch-container {
  margin-left: 0px !important;
}

.latest-styles-mens {
  padding: 40px 80px 40px 50px;
}

.latest-styles-womens {
  padding: 10px 50px 10px 80px;
}

.mensJackets {
  color: #1b75bc;
}

.womensPic,
.mensPic,
.mensJackets,
.womensJackets {
  transition: transform .2s;
}

.womensPic:hover,
.mensPic:hover,
.mensJackets:hover,
.womensJackets:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.womensJackets {
  color: #1b75bc;
  transition: transform .2s;
}

.countdown {
  padding-bottom: 40px
}

.dayOne,
.dayTwo,
.dayThree,
.dayFour,
.dayFive {
  padding: 10px 20px 30px 20px;
  text-align: center;
}

.dayOne {
  border-top: 05px solid #1b75bc;
  border-right: 2.5px solid #1b75bc;
  border-bottom: 05px solid #1b75bc;
  border-left: 05px solid #1b75bc;
}

.dayTwo {
  border-top: 05px solid #1b75bc;
  border-right: 2.5px solid #1b75bc;
  border-bottom: 05px solid #1b75bc;
  border-left: 2.5px solid #1b75bc;
}

.dayThree {
  border-top: 05px solid #1b75bc;
  border-right: 2.5px solid #1b75bc;
  border-bottom: 05px solid #1b75bc;
  border-left: 2.5px solid #1b75bc;
}

.dayFour {
  border-top: 05px solid #1b75bc;
  border-right: 2.5px solid #1b75bc;
  border-bottom: 05px solid #1b75bc;
  border-left: 2.5px solid #1b75bc;
}

.dayFive {
  border-top: 05px solid #1b75bc;
  border-right: 5px solid #1b75bc;
  border-bottom: 05px solid #1b75bc;
  border-left: 2.5px solid #1b75bc;
}

.capitalize {
  text-transform: capitalize;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.colors-available {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sizes-available {
  display: flex;
  flex-direction: column;
}

[data-class="selected-color"], [data-class="selected-size"] {
  border: grey 2px solid;
}

.uk-height-large {
 height: 550px !important;
}

.merch-item-card {
  min-height: 450px;
}
