.list-group-item {
  line-height: 2.5;
}

img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.top-span {
  background-color: grey;
}

.shipping-ad {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.primary-header {
  padding: 10px;
}

.navbar {
  padding-left: 20px;
}

.navbarRight {
  padding-right: 20px;
}

.navMerch {
  background-color: rgb(103,131,179);
}

.merchDisplayContainer {
  padding: 100px 30px 30px 30px !important;
}

.merch-container {
  margin-left: 0px !important;
}

.latest-styles {
  padding: 10px;
}

[data-class="selected-color"], [data-class="selected-size"] {
  border: grey 2px solid;
}
